# fly.toml app configuration file generated for sipeta-frontend on 2024-02-11

app = "sipeta-frontend-aceh"
primary_region = "sin"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory_mb = 256

[build]
  dockerfile = "Dockerfile.prod"
