# fly.toml app configuration file generated for sipeta-backend on 2024-02-11

app = "sipeta-backend-aceh"
primary_region = "sin"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory_mb = 256

[mounts]
  source = "sipeta_uploads"
  destination = "/app/uploads"
